@page
@model IndexModel

<div class="text-center">
    <h4 class="display-6">Chat about students</h4>
    <form method="post">
        <input id="inputPrompt" class="inputPrompt" type="text" name="prompt" size="80" required />
        <input type="submit" value="Send" class="btn btn-primary"/>
    </form>
    <div style="text-align: left" class="instructions">
        <h5>Click on the example prompts</h5>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Which school does Mat Tan go to?')" style="margin-bottom: 1rem;">Which school does Mat Tan go to?</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Which school has the most students?')" style="margin-bottom: 1rem;">Which school has the most students?</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Which school has the least students?')" style="margin-bottom: 1rem;">Which school has the least students?</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Get the count of students in each school.')" style="margin-bottom: 1rem;">Get the count of students in each school.</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('How many students are there in the school of Mining?')" style="margin-bottom: 1rem;">How many students are there in the school of Mining?</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('What is the ID of Jan Fry and which school does she go to?')" style="margin-bottom: 1rem;">What is the ID of Jan Fry and which school does she go to?</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Which students belong to the school of Business? Respond only in JSON format.')" style="margin-bottom: 1rem;">Which students belong to the school of Business? Respond only in JSON format.</button>
        <button type="button" class="btn btn-primary" onclick="addPrompt('Which students in the school of Nursing have their first or last name start with the letter \'J\'?')" style="margin-bottom: 1rem;">Which students in the school of Nursing have their first or last name start with the letter 'J'?</button>
        </div>
    @if (Model.Reply != null)
    {
        <p class="alert alert-success" id="reply">@Model.Reply</p>
    }
</div>
